<div style="max-width: 600px; margin: 0 auto; font-family: sans-serif;">
  
  <header style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <h1>Mi App Financiera 🚀</h1>
    
    @if (authService.user$ | async; as user) {
      <div style="display: flex; align-items: center; gap: 10px;">
        <img [src]="user.photoURL" style="border-radius: 50%; width: 40px;">
        <button (click)="logout()">Salir</button>
      </div>
    }
  </header>

  <hr>

  @if (authService.user$ | async; as user) {
    <app-add-transaction [userId]="user.uid"></app-add-transaction>
    
    <app-transaction-list [userId]="user.uid"></app-transaction-list>

  } @else {
    <div style="text-align: center; margin-top: 50px;">
      <h3>Para gestionar tus finanzas, inicia sesión 👇</h3>
      <button (click)="login()" style="padding: 10px 20px; font-size: 1.2rem; cursor: pointer;">
        Ingresar con Google
      </button>
    </div>
  }

</div>